.wrap_container {
  display: flex;
  justify-content: center;
}

.wrap_genre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1796px;
  height: 110px;
}

.alice-carousel__stage-item {
  margin: 0 0.8px;
  border-radius: 8px;
}

.alice-carousel__stage-item img {
  border-radius: 4px;
}

.genre_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 110px;
  border: 1px solid blue;
  margin: 8px;
}

.genre_img {
  border-radius: 6px;
}

.genre_txt {
  position: absolute;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
