.aaa {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.wrap_container {
  height: 100%;
  display: flex;
  justify-content: center;
  /* width: 1920px; */
  width: 100%;
  border: 1px solid black;
}

.wrap_genre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 240px;
}

.alice-carousel {
  width: 1804px;
}

.alice-carousel__stage-item {
  position: relative;
  border-radius: 12px;
  width: 240px;
  height: 110px;
  border-radius: 8px;
  padding: 0 0 0 10px;
}

.alice-carousel__stage-item:nth-last-child(1) {
}

.alice-carousel__stage-item:hover {
  cursor: pointer;
}

.genre_img {
  border-radius: 6px;
}

.alice-carousel__prev-btn {
}
.alice-carousel__next-btn {
}

.genre_txt {
  position: absolute;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
