.wrap_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 30px 0;
}

.filter_container {
  width: 1780px;
}

.filter_list {
  display: flex;
  align-items: center;
}

.btn_list {
  border: none;
  background-color: #ffffff;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #757e89;
}

.btn_list:not(:nth-child(1)):hover {
  cursor: pointer;
}

.btn_list:nth-child(2) {
  padding: 0 18px 0 18px;
}

.btn_list:nth-child(4) {
  padding: 0 18px 0 18px;
}

.btn_list:nth-child(6) {
  padding: 0 18px 0 18px;
}

hr {
  display: inline-block;
  height: 12px;
  width: 1px;
  border-width: 0;
  background-color: #757e89;
}

.wrap_post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_container {
  display: flex;
  align-items: center;
  width: 1804px;
}

.post_list {
  width: 340px;
  height: 500px;
  margin: 12px;
}

.post_img_container {
  position: relative;
  overflow: hidden;
  height: 340px;
}

.post_img {
  width: 340px;
  height: 100%;
  border-radius: 8px;
  transform: translate(1.1);
  transition: 0.5s;
}

.post_img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.wrap_top {
  display: flex;
  align-items: center;
}

.post_name {
  padding: 16px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #222222;
}

.post_name:hover {
  cursor: pointer;
}

.post_type {
  padding: 16px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #757e89;
}

.post_txt {
  padding: 16px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  text-align: center;
}

.post_txt:hover {
  cursor: pointer;
}

.post_tag {
  float: right;
  width: 44px;
  height: 24px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid rgba(84, 51, 212, 0.8);
  color: rgba(84, 51, 212, 0.8);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
