.wrap_side {
  position: relative;
  display: flex;
  height: 100%;
}

.side_con {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 10px;
  left: 68px;
  top: -240px;
  position: absolute;
  width: 488px;
  height: 1972px;
}

.side_head {
  height: 140px;
  display: flex;
  padding: 80px 48px 48px 48px;
  justify-content: flex-start;
}

.side_head_row1 {
  margin-right: 40px;
}

.side_head_row2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  margin-left: 20px;
}

.modi_pro_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile_img {
  position: absolute;
  top: 48px;
  right: 48px;
  padding-right: 8px;
  cursor: pointer;
}

.aaaa {
  width: 112px;
  height: 112px;
}

.aaaa img {
  width: 100%;
  height: 100%;
}

.side_head > img {
  border-radius: 100%;
  margin-right: 40px;
}

.user_name {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 10px;
}

.user_inter {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(34, 34, 34, 0.8);
}

.modi_pro_btn {
  right: 120px;
  top: 120px;
  border: #5433d4;
  width: 128px;
  height: 28px;
  background: #ffffff;
  font-weight: 400;
  font-size: 12px;
  color: #5433d4;
  cursor: pointer;
  border: 1px solid red;
  border: 1px solid #5433d4;
  border-radius: 10px;
}

.side_mid {
  padding: 0px 0px 0px 48px;
}

.side_mid > li > img {
  font-size: 20px;
  width: 22px;
  height: 26px;
  margin-right: 30px;
}

.side_mid_list span {
  color: #222222;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.side_mid_list {
  padding-bottom: 36px;
  display: flex;
  align-items: center;
}

.side_mid_2 {
  height: 180px;
  padding: 20px 20px 0 36px;
}

.side_mid_2_txt {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.side_body_info {
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.side_body_info > li {
  height: 40px;
  display: flex;
  align-items: center;
}

.side_body_info > li > p {
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  width: 60px;
}

.side_body_info > li > span {
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  margin-left: 32px;
}

.side_bot {
  padding: 0 0 0 48px;
  height: 214px;
}

.side_bot_txt {
  padding-top: 20px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.side_mid2 {
  padding: 0 48px 0 48px;
}

.side_mid2_txt {
  font-weight: 700;
  font-size: 20px;
  padding-top: 52px;
  padding-bottom: 30px;
}

.side_mid2 li {
  padding-bottom: 34px;
}

.side_mid2 button {
  background-color: #ffffff;
  padding-top: 30px;
  cursor: pointer;
  border: none;
}

.side_mid3 {
  padding: 0 48px 0 48px;
}

.side_mid3_txt {
  font-weight: 700;
  font-size: 20px;
  padding-top: 52px;
  padding-bottom: 30px;
}

.side_mid3_video {
  width: 394px;
  height: 224px;
  border: 1px solid black;
}

.side_mid4 {
  padding: 48px 48px 0 48px;
}

.side_mid4_txt {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 28px;
}

.side_mid4_social {
  display: flex;
}

.side_mid4_social a {
  color: #0c43b7;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.side_mid5 {
  padding: 48px 48px 0 48px;
}

.side_mid5_txt {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 28px;
}

.side_mid5_con {
  display: flex;
  flex-wrap: wrap;
}

.side_mid5_info:nth-child(-n + 3) {
  padding-bottom: 40px;
}

.side_mid5_info {
  width: 130px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side_mid5_info li:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 16px;
}

.side_mid5_info li:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  color: #424242;
}

.add_cate_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 112px;
  height: 24px;
  border-radius: 32px;
  background: #5433d4;
  color: white;
  cursor: pointer;
}

.plus_cate_icon {
  font-size: 12px;
  margin-right: 4px;
}

.add_tag_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 112px;
  height: 24px;
  border-radius: 32px;
  background: #ffffff;
  border: 1px solid #5433d4;
  color: #5433d4;
  cursor: pointer;
}

/* .wrap_side {
  position: absolute;
    height: 762px;
    width: 344px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
    bottom: -10px;
    left: 68px;
}


.side_head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}

.side_head > img {
  margin-right: 40px;
}

.user_name {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 10px;
}

.user_inter {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(34, 34, 34, 0.8);
}

.side_mid {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side_mid > li {
  padding: 0px 0 0 36px;
}

.side_mid > li > img {
  font-size: 20px;
  width: 22px;
  height: 26px;
  margin-right: 30px;
}

.side_mid > li > span {
  color: #222222;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.side_mid_list {
  display: flex;
  align-items: center;
}

.side_mid_2 {
  height: 180px;
  padding: 20px 20px 0 36px;
}

.side_mid_2_txt {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.side_body_info {
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.side_body_info > li {
  height: 40px;
  width: 148px;
  display: flex;
  align-items: center;
}

.side_body_info > li > p {
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  width: 60px;
}

.side_body_info > li > span {
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  margin-left: 32px;
}

.side_bot {
  height: 214px;
}

.side_bot_txt {
  padding-top: 20px;
  padding-left: 36px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.add_cate_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
  border: none;
  width: 112px;
  height: 24px;
  border-radius: 32px;
  background: #5433d4;
  color: white;
  cursor: pointer;
}

.plus_cate_icon {
  font-size: 12px;
  margin-right: 4px;
}

.add_tag_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
  border: none;
  width: 112px;
  height: 24px;
  border-radius: 32px;
  background: #ffffff;
  border: 1px solid #5433d4;
  color: #5433d4;
  cursor: pointer;
} */
