.wrap_banner {
  margin-top: 100px;
  height: 148px;
  display: flex;
  justify-content: center;
}

.wrap_banner > img {
  width: 100%;
}

.fil_container {
  display: flex;
  justify-content: center;
}

.fil_txt {
  position: relative;
  width: 1760px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #757e89;
  margin-top: 40px;
}

.arrow_icon {
  position: relative;
  top: 2px;
}
