.filter_con {
  height: 512px;
  border-bottom: 1px solid #babfc4;
}

.filter_mid {
  display: flex;
  justify-content: center;
}

.sort_con {
  display: flex;
  justify-content: space-between;
  width: 1760px;
}

.big_filter_con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 74px;
}

.small_filter_con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #babfc4;
}

p,
.arrow_icon {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #757e89;
}

.wrap_fil {
  display: flex;
  justify-content: center;
  width: 1760px;
}

.filter_left {
  flex: 8;
  height: 398px;
  margin: 36px 0px 0px 0px;
  border: 1px solid #babfc4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

.filter_right {
  flex: 2;
  width: 338px;
  height: 398px;
  margin: 36px 0px 0px 20px;
  border: 1px solid #babfc4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

.filter_top {
  position: relative;
  padding: 20px 24px;
  border-bottom: 1px solid #babfc4;
  height: 80px;
}

.fil_top p {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #222222;
}

.search_box {
  /* position: relative; */
  margin: 14px 0;
  width: 402px;
  height: 40px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #babfc4;
  cursor: pointer;
  padding: 0 0 0 40px;
}

.search_icon {
  position: absolute;
  bottom: 28px;
  left: 32px;
  z-index: 2;
}

.menu_con {
  display: inline-block;
  margin-left: 56px;
  vertical-align: middle;
}

.menu_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 80px;
}

.chk_box {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 2px solid #757e89;
  border-radius: 50%;
  vertical-align: middle;
  /* appearance: none;
  -webkit-appearance: none; */
  outline: none;
  cursor: pointer;
  margin-left: 18px;
}

.chk_box:checked {
  background-color: #ffffff;
  border: 2px solid #5433d4;
}

.checkbox_inner {
  display: inline-block;
  margin-left: 18px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.2s;
  border: 1px solid #626262;
  background: transparent no-repeat center;
  cursor: pointer;
}

.filter_bot {
  display: flex;
  height: 275px;
}

.fil_col_2 {
  width: 160px;
  overflow: auto;
}

.fil_col_2 ul > li {
  width: 124px;
  display: flex;
  padding: 0px 0px 0px 20px;
  align-items: center;
  height: 58px;
  cursor: pointer;
}

.fil_col_8 {
  flex: 8.5;
}

.menu_all_con {
  border-bottom: 1px solid #babfc4;
  height: 58px;
  display: flex;
  align-items: center;
  flex: 1;
}

.menu_all {
  border-bottom: 1px solid #babfc4;
  height: 58px;
  display: flex;
  align-items: center;
}

.menu_all_txt {
  margin: 20px 0px 20px 20px;
}

.menu_ref_con {
  height: 58px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu_chk_box {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 2px solid #757e89;
  border-radius: 50%;
  vertical-align: middle;
  /* appearance: none;
  -webkit-appearance: none; */
  outline: none;
  cursor: pointer;
  margin-left: 18px;
}

.menu_chk_box:checked {
  background-color: #ffffff;
  border: 2px solid #5433d4;
}

.fil_half {
  display: flex;
  flex-direction: column;
  height: 218px;
}

.fil_col_half {
  display: flex;
  flex: 1;
}

.fil_col_half:nth-child(1) {
  border-bottom: 1px solid #babfc4;
}

.fil_row_2 {
  border-right: 1px solid #babfc4;
  width: 124px;
  padding: 20px 0px 0 20px;
}

.fil_row_8 {
  padding: 20px 0px 0px 20px;
  max-width: 1042px;
  display: flex;
  flex-wrap: wrap;
}

.actor_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  cursor: pointer;
}

.focused_actor_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  cursor: pointer;
  width: 120px;
  height: 30px;
  background: #f6f4fd;
  border-radius: 119px;
  color: #5433d4;
}

.fil_right_half_1 {
  height: 289px;
  border-bottom: 1px solid #babfc4;
}

.fil_right_half_2 {
  height: 110px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.fil_right_txt {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #222222;
  margin-bottom: 18px;
}

.fil_right_people {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  color: #5433d4;
  margin-bottom: 12px;
}

.fold_menu {
  cursor: pointer;
  float: right;
}

.fold_menu > span {
  margin-right: 24px;
  color: #757e89;
}

.peo_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f4fd;
  width: 162px;
  height: 30px;
  border-radius: 120px;
  margin-right: 32px;
}

.peo_menu > h4 {
  margin-top: 2px;
  font-weight: 400;
  font-size: 16px;
  color: #5433d4;
}

.del_peo_menu {
  border: none;
  color: #5433d4;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-left: 6px;
}

.del_peo_menu > img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fil_right {
  display: flex;
  align-items: center;
}

.peo_num {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #5433d4;
}

.pep_num2 {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #222222;
}

.to_big {
  margin-left: 42px;
  transition: 1s;
}

.btn_list {
  border: none;
  background-color: #ffffff;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #757e89;
  cursor: pointer;
  transition: 0s;
}

.active {
  border: none;
  color: #222222;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.focused_genre_menu {
  background: rgba(84, 51, 212, 0.05);
  color: #5433d4;
  font-weight: 700;
}

.peo_menu_two {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f4fd;
  width: 162px;
  height: 30px;
  border-radius: 120px;
  margin-right: 32px;
  color: #5433d4;
}

.peo_menu_two > h4 {
  color: #5433d4;
}
