.wrap_mypage {
  margin-top: 104px;
  height: 148px;
}

.banner_con {
  position: relative;
}

.abc {
  display: flex;
  position: absolute;
  top: 6.5%;
  left: 42%;
}

.aa {
  padding: 40px 60px 40px 40px;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.abcd {
  display: flex;
  position: absolute;
  top: 60%;
  left: 41%;
}

.bb:nth-child(1) {
  padding: 10px 60px 20px 36px;
}

.bb:nth-child(2) {
  padding: 10px 60px 20px 4px;
}

.bb {
  color: #ffffff;
  padding: 10px 60px 20px 20px;
}
