.wrap_menu {
  height: 65px;
  display: flex;
  align-items: center;
}

.menu_txt {
  display: flex;
  align-items: center;
  color: #000000;
  height: 50%;
  font-size: 18px;
  line-height: 23px;
}

.header_container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.wrap_header {
  display: flex;
  height: 37px;
  background: #f5f8fa;
}

.wrap_meta {
  width: 70px;
  display: flex;
  align-items: center;
  position: relative;
}

.wrap_meta img {
  position: absolute;
  right: 60px;
  top: -2px;
}

.meta_txt {
  margin-left: 16px;
  width: 80px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #747c87;
}

.menu_list {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 20px 0 20px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #747c87;
}

.submenu {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 20px 0 20px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #747c87;
  border-right: 1px solid #e0e2e5;
}

.submenu:hover {
  cursor: pointer;
}

.focused {
  background-color: #ffffff;
  cursor: pointer;
}

.submenu:nth-child(4) {
  border: none;
}

.wrap_left_nav {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e2e5;
  background-color: #ffffff;
}

.left_nav {
  display: flex;
  align-items: center;
}

.nav_list {
  padding: 0 60px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list:nth-child(1) {
  padding: 0 50px 0px 20px;
}

.nav_list_logo {
  color: #5433d4;
}

.nav_list_head_logo {
  padding: 0px 10px 0px 0;
}

.nav_list_logo_txt {
  padding: 10px;
  font-size: 25px;
  color: #5433d4;
}

.navmenu {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: #222222;
  margin-right: 32px;
  cursor: pointer;
}

.focused_nav {
  height: 62px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid black;
}

.focused_nav .menu_txt {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.search_bar {
  width: 320px;
  height: 36px;
  background: #f5f8fa;
  border: 1px solid rgba(117, 126, 137, 0.3);
  border-radius: 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search_bar_logo {
  padding: 0 12px;
  display: flex;
  color: #757e89;
  font-size: 20px;
}

.search_bar_txt {
  width: 210px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: black;
  border: none;
  background-color: #f5f8fa;
}

.search_bar_txt:focus {
  outline: none;
}

.right_nav {
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding-top: 120px;
}

.icon_btn {
  border: none;
  background-color: #ffffff;
  padding: 0 20px;
}

.icon_btn:hover {
  cursor: pointer;
}

.nav_login {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 12px 18px 12px 18px;
}

.nav_login:hover {
  cursor: pointer;
}

.nav_signup {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 18px 12px 18px;
  background: #757e89;
  border-radius: 20px;
  color: #ffffff;
  margin-right: 30px;
  text-align: center;
}
