.wrap_career {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}

.career_con {
  display: flex;
  width: 1402px;
}

.career_left {
  width: 640px;
}

.career_txt_con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.career_txt_con_right {
  padding: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.career_txt {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}

.career_more_btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: #ffffff;
  margin-right: 40px;
  cursor: pointer;
}

.career_more_btn > .more_txt {
  margin-right: 28px;
  color: #555555;
}

.career_more_btn > .more_img {
  background-color: #555555;
}

.career_right {
  width: 680px;
  margin-left: 80px;
  height: 100%;
}

.more_right_btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.more_right_txt {
  margin-right: 28px;
  color: #555555;
}

/* 경력 */
.car_content {
  margin-top: 44px;
}

.car_cotent_con {
  display: flex;
  margin-bottom: 48px;
}

.content_num {
  font-size: 28px;
  line-height: 100%;
  color: #757e89;
  padding-right: 64px;
  line-height: 40px;
  width: 40px;
}

.content_txt {
  font-size: 28px;
  line-height: 40px;
  color: #222222;
  padding: 0 100px 20px 0;
}

/* 대표작 */
.wrap_mp_con {
  margin-top: 90px;
  margin-left: 20px;
  /* border: 1px solid black; */
}

.mp_con {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.mp_list {
  width: 320px;
  height: 420px;
  border-radius: 10px;
}

.mp_list:nth-child(1) {
  margin-right: 16px;
}

.mp_list:nth-child(3) {
  margin-top: 16px;
  margin-right: 16px;
}

.mp_list:nth-child(4) {
  margin-top: 16px;
}

.mp_list_img {
  width: 320px;
  height: 420px;
}

.wrap_video {
  margin-top: 48px;
  margin-bottom: 42px;
  padding: 0 12px;
}

.video_con {
  display: inline-block;
  font-size: 28px;
  line-height: 35px;
}

.more_txt_btn {
  display: flex;
  align-items: center;
  float: right;
  border: none;
  background-color: #ffffff;
}

.more_txt_video {
  margin-right: 28px;
}

.more_txt_video {
  color: #757e89;
}

.video {
  border-radius: 10px;
  padding: 0 12px;
}

.social_con {
  margin-bottom: 44px;
  font-size: 28px;
  line-height: 35px;
}

.social_list {
  margin-right: 10px;
  color: #0c43b7;
  font-size: 28px;
  line-height: 35px;
}
