.wrap_signup {
  margin-top: 142px;
  display: flex;
  justify-content: center;
}

.signup_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
}

.id_container {
  text-align: center;
}

.inval_btn {
  background: #5433d4;
  border-radius: 4px;
  color: #ffffff;
  width: 88px;
  height: 50px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.invalid-input {
  color: #ff3535;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.menu_text {
  position: absolute;
  left: 72px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #757e89;
}

.mid_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid_row ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 100%;
  border: 1px solid red;
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: #5433d4;
  color: #ffffff;
}

.wrap_signup input {
  width: 344px;
  height: 50px;
  border: 1px solid #747c87;
  border-radius: 4px;
  margin: 8px 0 0;
  padding-left: 12px;
}

.wrap_signup input:nth-child(1) {
  width: 248px;
  margin-right: 8px;
}

.wrap_signup input:nth-child(3) {
  margin-bottom: 8px;
}

span {
  color: #ff7235;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.id_txt,
.pwd_txt {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 24px;
  margin-bottom: 8px;
  text-align: start;
}

.friend_txt {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.sns-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 72px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 134px;
}

.find_btn {
  text-align: center;
}

.regi_btn {
  background: #5433d4;
  border-radius: 4px;
  color: #ffffff;
  width: 148px;
  height: 48px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  margin-top: 78px;
}
